.container{
    width: 980px;
}
.required::before{
    content: '*';
    font-weight: bold;
    font-size: 16px;
    color: #c7254e;  
}
.react-datepicker{
    font-size: 1.1rem !important;
}
.textinput-wrapper, .radioinput-wrapper{
    display: inline-block;
    .input-label{
        margin-right: 10px;
    }
    .radio-element-horizontal{
        display: inline-block;
        margin: 0 15px;
        .radio-element-label{
            margin-right: 8px;
        }
    }
    .radio-element-vertical{
        .radio-element-label{
            margin-right: 8px;
            display: inline-block;
        }
    }
}


.block{
    display: block !important;
}
.inline-text-input, .react-datepicker-wrapper  input{
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.inline-text-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.top-margin5{
    margin-top: 5px;
}
.top-margin10{
    margin-top: 10px;
}
.top-margin15{
    margin-top: 15px;
}
.top-margin20{
    margin-top: 20px;
}
