.header-menu-wrapper{
    background: $header_top_menu_bg;
    border-color: $header_top_menu_border;
    .ul-nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .ul-nav > li{
        display: inline-block;
        position: relative;
    }
    .dropdown-activator:hover{
        background: #e9e9e9;
    }
    .ul-nav > li > a, .ul-nav > li > div > a{
        display: inline-block;
        padding: 10px;
        color: #404040;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;  
        text-align: center;
        text-decoration: none;
        position: relative;
    }
    .dropDown{
        list-style-type: none;
        display: none;
        
    }
    a.dropdown-activator{
        font-weight: normal!important;
        width: inherit;
    }
    .ul-nav > li:last-child:hover  ul.dropDown{
        display: block !important;
        position: absolute;
        border: 1px solid #cdcdcd;
    }
    
    
    .ul-nav > li:last-child{
        ul.dropDown{
            width: inherit;
            border: 1px solid #cdcdcd;
            background: #fff;
            right: 0;
            top: 39px;
            margin: 0;
            padding: 0;
            -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.2);
            box-shadow: 0 5px 7px rgba(0,0,0,.2);
            z-index: 1000;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        ul.dropDown>li{
            display: block;
            text-align: left;
            padding: 5px 0;
        }
        ul.dropDown>li>a {
            padding: 6px 12px;
            color: #5a5a5a;
            font-weight: normal;
            display: block;
        }
        ul.dropDown>li>a:hover {
            text-decoration: none;
        }
    }
    
}

.logo-searchinput-wrapper{
    padding: 15px 0;
    .searchinput-btn{
        margin-left: -5px;
        margin-top: -2px
    } 
    .no-border{
        border-radius: 0px !important;
    }
}

