.dynamic-menubar-wrapper{
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
   box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.menu {
  list-style: none; 
  /* Important for sizing problems when you add/remove the submenus 
     Make it use 100% of the size of your container */
  width: 100%;
  /* This prevents a lot of problems with the submenus. 
     UL have basic padding, keep that in mind */
  padding: 0;
  position: relative;
  background: #fff;
  z-index: 9999;
}

.menu>li {
  /* I wanted mine horizontal. Feel free to change it to what you want */
  display:inline-block;
  /* Float the items to the left, to make sure the disposition does not change when it shows the subitems */
  float:left;
  /* The -1px on top and right make it so that our borders end up above one another
     Not needed it you don't have borders... */
  margin:-1px -1px 0 0;
}

.menu li a {
  display:block;


  /* My basic styling. I'm just giving them a black text, with a black border, and center the text in the box. */
  text-decoration:none;
  border: 1px solid #cdcdcd;
  vertical-align: middle;
  text-align: center;

  /* Fixed size is also just me. 
     Not fixing it just make huge boxes when you have submenus */
  width:100px;
  height:50px;
  line-height: 50px;
}

.menu>li > ul {
/****** THE INTERESTING PART ******/
/* We hide the submenus by putting them somewhere on the left, with no opacity. */
  background: #fff;
  display:none;
  position: absolute;

/* We make transitions on opacity */
  -webkit-transiton: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu li:hover > ul {
/* On hover, we get it back to its basic spot
  left:0;
/* And change the opacity to a fully visible one */
  display: inline-block;
};

.menu>li > ul>li{
  display: block;
}

.dynamic-table-align-right{
   background: #fff;
   border: 1px solid #cdcdcd;
   -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.2);
   box-shadow: 0 5px 7px rgba(0,0,0,.2);
}