$blue: #3bbfce;
$header_top_menu_bg: #dfdfdf;
$header_top_menu_border: #ccc;

@import "./assets/css/font-awesome/css/font-awesome.min.css";
@import "./assets/css/bootstrap/css/bootstrap.min.css";
@import "./assets/css/navMenu.css";

@import "./assets/css/common.scss";
@import "./assets/css/header.scss";



    